# Frontend: set this in Vercel
VITE_API_URL=https://safemail-check.onrender.com/

# Backend: set this in Render
FRONTEND_URL=https://safe-mail-check.vercel.app/

# Backend secrets
GEMINI_API_KEY=AQ.Ab8RN6Krng-gOfyYRqLbqjaxJUUkBrGyhUd3Hfm9Z2o7EiYOfw
JWT_SECRET="5_,-]KjoKVw3xP*;juzLeVGm%+c3]E8|Jju{|jBS?R7"

